<!--<h2>{{country.name | uppercase}}</h2>-->
<div>
  <label>Name:
    <input [(ngModel)]="country.name" placeholder="Enter Country Name">
  </label>
  <label> Code:
    <input [(ngModel)]="country.code" placeholder="Enter Country Code">
  </label>
  <label>
    <button onclick="addCountry()" class="addbtn">Add Country</button>
  </label>
</div>

<div>
  <label>Name: 
    <select>
      <option value="default">Select Country Name</option>
    </select>
  </label>
</div>
<!--<div><span>Id: </span>{{country.id}}</div>
<div><span>Code: </span>{{country.code}}</div>
<div><span>Name: </span>{{country.name}}</div>-->

