/* Application-wide Styles */

h1 {
    color: #900C3F;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 250%;
}
h2, h3 {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    border-radius: 4px;
    background-color: #0F8A5F;
    font-stretch: ultra-expanded;
    font-variant: small-caps;
    font-weight: italic;
}
body {
    margin: 0;
}
body, input{
    color: #900C3F;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/* everywhere else */
* {
    font-family: Georgia, 'cursive', 'Times New Roman', Times, serif;
    font-size: 20px;
    border-radius: 4px;
    font-stretch: ultra-expanded;
    font-variant: small-caps;
    font-weight: bold;
}
button {
    cursor: pointer;
    margin-left: 5px;
    background-color: #d42426;
    color: white;
    display: inline-block;
}
button:hover {
    background-color: #0F8A5F;
    color: white;
}
input {
    margin-right: 7px;

}
select {
    color: gray;
    font-size: 20px;
}