/* Application-wide Styles */

h1 {
    padding-top: 100px;
    color: rgb(255, 255, 255);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 500%;
    text-shadow: 5px 0 black, 0 5px black, 5px 0 black, 0 5px black;
}
h2, h3 {
    color: #C70039;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
}
input{
    color: #900C3F;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

* {
    font-family: Impact, 'Times New Roman', Times, serif;
}
nav a {
    padding: 5px 10px;
    text-decoration: none;
    margin-right: 20px;
    margin-bottom: 20px;
    display: inline-block;
    background-color: #0F8A5F;
    border-radius: 4px;
    font-size: 35px;
  }
nav a:visited, a:link {
    color: white;
}
nav a:hover {
    color: white;
    background-color: #d42426;
}
img {
    opacity: .5;
    z-index: 0;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
/* html {
    height: 100vh;
}  */
div {
    min-height: 100vh;
    background-image: url('https://sarachstefith.files.wordpress.com/2014/12/grumpy_cat_quotes_no-7.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin:0;
}