<div>
    <label>Country Name: 
      <select #box class="countries" (change)="getState($event.target.value)">
        <option value="">Select Country Name</option>
        <option *ngFor="let country of countries" [value]="country.code">
          <span class="badge">{{country.name}}</span>
        </option>
      </select>
    </label>
    <label>State Name: 
      <select class="states">
        <option value="">Select State Name</option>
        <option *ngFor="let state of states">
          <span class="badge">{{state.name}}</span>
        </option>
      </select>
    </label>
  </div>
 