<div>
    <label>Country Name: 
      <select class="countries">
        <option value="default">Select Country Name</option>
        <option *ngFor="let country of countries"  onselect="getState()">
          <span class="badge">{{country.name}}</span>
        </option>
      </select>
    </label>
    <label>State Name: 
      <select class="states">
        <option value="default">Select State Name</option>
        <option *ngFor="let state of states">
          <span class="badge">{{state.name}}</span>
        </option>
      </select>
    </label>
  </div>